# {{ ansible_managed }}

{% set item = (apache2_default_sites['default'] | combine(item.value, recursive=True)) %}

<VirtualHost *:80>
  ServerName {{ item.domains | join(' ') }}
  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/html
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  KeepAlive On
</VirtualHost>

<location />

{% if item.upstreams %}
{%- for upstream in item.upstreams %}
{% for server in upstream.servers %}
ProxyPass http://{{ server }}
ProxyPassReverse http://{{ server }}
{% endfor %}
{% endfor %}
{% endif %}

</location>



    
