# {{ ansible_managed }}

{% set item = (apache2_default_sites['default'] | combine(item.value, recursive=True)) %}


server {
  listen {{ item.listen_http }}{{ ' default deferred' if item.default_server else '' }};
  server_name {{ item.domains | join(' ') }};
  root  /var/www/html;

  location /  {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;

{% if item.upstreams %}
{%- for upstream in item.upstreams %}
{% for server in upstream.servers %}

    proxy_pass http://{{ server }};

{% endfor %}
{% endfor %}
{% endif %}

  }

}
