<location />
AuthBasicProvider ldap
AuthType Basic
AuthName "Log in with Windows usaername and password+mfa"
AuthLDAPURL ldap://172.16.40.168:389/cn=users,cn=accounts,dc=access,dc=parliament,dc=uk
AuthLDAPBindDN uid=system,cn=sysaccounts,cn=etc,dc=access,dc=parliament,dc=uk
AuthLDAPBindPassword {{ ldap_password }}
Require valid-user
</location>


ProxyPass / http://172.16.44.31:5601/app/kibana
ProxyPassReverse / http://172.16.44.31:5601/app/kibana
RequestHeader Set Authorization: "Basic ZWxhc3RpYzpjaGFuZ2VtZQ=="
