<location />
AuthBasicProvider ldap
AuthType Basic
AuthName "Log in with email address and Windows password"
AuthLDAPURL "ldap://172.16.40.168:389"
AuthLDAPBindDN "uid=system,cn=sysaccounts,cn=etc,dc=access,dc=parliament,dc=uk"
AuthLDAPBindPassword {{ ldap_password }}
Require valid-user
</location>


#ProxyPass / http://internal-kibana-2134829661.eu-west-1.elb.amazonaws.com:5601/
#ProxyPassReverse / http://internal-kibana-2134829661.eu-west-1.elb.amazonaws.com:5601/
#RequestHeader Set Authorization: "Basic ZWxhc3RpYzpjaGFuZ2VtZQ=="
